*{
	margin: 0;
	padding: 0;
}
body{
	background-size: cover;
	background-color:  #222;
	background-position: center;
	height: 100vh;
	font-family: Roboto Condens, sans-serif;
	background-image: url(https://media.istockphoto.com/photos/abstract-luxury-gold-studio-well-use-as-backgroundlayout-and-picture-id1147522909?k=20&m=1147522909&s=612x612&w=0&h=0fIMSDC7KmKlx3ndXuGEAcxf3BaIYaHgCL5WLiG5tlk=)
}	
#titulos{
	color: black;
	font-size: 60px;
	font-weight: 300;
	text-align: center;
	margin-top: 60px;
}
@media screen and (max-width:1920px) and (min-width:1300px){
	.carousel-item{
		width:90%;
		padding-left:200px;
	}
}
.list-group-item{
	background-color:#c8c8c8;
}
.card {
    font-size: 1.5em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
    background-color:#c8c8c8;
  -block{
  	font-size: 1.5em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
  }
}
.formulario{
	color:white;
	padding: 20px;
	background-color: #0000009c;
	border: 1px solid;
	margin:1rem;
}

.mapa{
  height: 60vh;
  width: 100%;
}
.row{
	--bs-gutter-x: 0;
}
%wspp{
	position: fixed;
	bottom: 0;
	right: 0;
	display: block;
	height: auto;
	max-height: 100%;
	overflow: hidden;
}
.whatsapp{
	@extend %wspp;
}
.footer-basic {
  padding:260px 0;
  background-color:rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
	--bs-bg-opacity:1;;
  color:#4b4c4d;
  	.social {
  						text-align:center;
 						 	padding-bottom:25px;
  	> a {
  				font-size:24px;
  				width:40px;
  				height:40px;
  				line-height:40px;
  				display:inline-block;
  				text-align:center;
  				border-radius:50%;
  				border:1px solid #ccc;
  				margin:0 8px;
  				color:inherit;
  				opacity:0.75;
		:hover {
  				opacity:0.9;
  			}
  			}
}
}
